<section class="section">
    <div class="columns">
        <div class="column is-one-quarter">

            <div class="box">
                <div class="block">
                    <div class="image is-square is-fullwidth">
                        <%= image_tag 'profile_picture.jpg' %>
                    </div>
                </div>

                <div class="block">
                    <div class="level">
                        <div class="level-left">
                            <div>
                                <strong class="title is-4"><%= member_signed_in? ? @member.username : "anonymous" %></strong><br />
                                <small>Joined <%= time_ago_in_words(@member.created_at) %> ago</small>
                            </div>
                        </div>

                        <% if member_signed_in? && @member == current_member %>
                            <div class="level-right">
                                <%= link_to edit_profile_path(@member) do %>
                                    <span class="icon"><i class="far fa-edit"></i></span>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                    
                    <p><%= @member.profile&.bio %></p>
                </div>

                <div class="block level">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Posts</p>
                            <p class="title is-6"><%= @member.posts.count %></p>
                        </div>
                    </div>

                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Comments</p>
                            <p class="title is-6"><%= @member.comments.count %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="column is-half">
        
            <h2 class="title is-3">Posts by <%= member_signed_in? ? @member.username : "anonymous" %></h2>
            
            <% if !@member.posts.empty? %>
                <% @member.posts.each do |post| %>
                    <%= render '/posts/post', post: post %>
                <% end %>
            <% else %>
                <div class="container has-text-centered">
                    <p>No posts from this member...yet.</p>
                </div> 
            <% end %>
        </div>

    </div>
</section>