<%= form_with model: [comment.post, comment] do |form| %>
    <div class="field">
        <div class="control">
            <%= form.label :body, "Comment", class: "label" %>
            <%= form.text_area :body, class: "input" %>
            <% comment.errors.full_messages_for(:body).each do |message| %>
            <p class="help is-danger">
            <%= message %>
            </p>
            <% end %>
        </div>
    </div>

    <% if member_signed_in? %>
    <small>
    Commenting as <%= current_member.username %>
    </small>
    <% else %>
    <p>
    <%= link_to "Sign in", new_member_session_path %> or <%= link_to "Sign up", new_member_registration_path %> to comment
    </p>
    <% end %><br>
    <%= form.submit "Create comment", class: "button is-info" %>
<% end %>

