<div class="box">
    <div class="block">
        <%= link_to post_path(post) do %>
            <h2 class="title"><%= post.title %></h2>
        <% end %>
            <small>Created by&nbsp;
            <% if member_signed_in? %>
                <%= link_to post.member.username, profile_path(post.member) %>
            <% else %>
                Anonymous
            <% end %>
                &nbsp; <small><%= time_ago_in_words(post.created_at) + " ago" %></small>
            </small>
    </div>

    <% if local_assigns.has_key? :snippet %>
      <div class="panel-block">
        <p>
        <%= display_line_breaks post.snippet(400) %>
        <% if post.longer_than?(400) %>
            <%= link_to "...", post_path(post) %>
        <% end %>
        </p>
      </div>
    <% else %>
      <div class="panel-block">
        <p>
            <%= display_line_breaks post.body %>
        </p>
      </div>
    <% end %>

        <div class="level panel-block">
            <div class="level-item">
                <%= link_to "#" do %>
                    <span class="icon"><i class="far fa-thumbs-up"></i></span>
                <% end %>
            </div>
            <div class="level-item">
                <%= link_to post_path(post) + "#comment" do %>
                    <span class="icon"><i class="far fa-comment-alt"></i></span>
                    &nbsp;<%= post.comments.count %>
                <% end %>
            </div>
            <% if member_signed_in? && post.member == current_member %>
                <div class="level-item">
                    <%= link_to edit_post_path(post) do %>
                        <span class="icon"><i class="far fa-edit"></i></span>
                    <% end %>
                </div>
                <div class="level-item">
                    <%= link_to post_path(post), method: :delete do %>
                        <span class="icon"><i class="far fa-trash-alt"></i></span>
                    <% end %>
                </div>
           <% end %>
        </div> 
    

    <% unless local_assigns.has_key? :snippet %>
        <% post.comments.each do |cmt| %>
            <%= render '/comments/comment', comment: cmt %>
        <% end %>
    <% end %>
    
</div>